<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="Minecraft.css"type="text/css">
    <link rel="stylesheet" href="Minecrafter.css" type="text/css">
    <link rel="stylesheet" href="Minecrafter%20Alt.css" type="text/css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="Footer-with-social-media-icons.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" type="text/css">
    <link rel="stylesheet" href="Login-Form-Dark.css" type="text/css">
    <link rel="stylesheet" href="project-card.css" type="text/css">
    <link rel="stylesheet" href="Search-Field-With-Icon.css" type="text/css">
    <link rel="stylesheet" href="Search-Input-responsive.css" type="text/css">
    <link rel="stylesheet" href="Tricky-Grid---2-Column-on-Desktop--Tablet-Flip-Order-of-12-Column-rows-on-Mobile.css" type="text/css">
</head>

<body>
    <section id="header" style="height: 593px;">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand" href="home" style="font-family: 'Minecrafter Alt';font-size: 40px;letter-spacing: 2px;">HouseCase</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="float-left float-md-right mt-5 mt-md-0 search-area"></div>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation" id="link_home"><a class="nav-link" href="home" style="font-family: Minecraft;letter-spacing: 2px;">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="userprofile" style="font-family: Minecraft;letter-spacing: 2px;">My Profile</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="submission" style="font-family: Minecraft;letter-spacing: 2px;">Submit A House</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="logout" style="font-family: Minecraft;letter-spacing: 2px;">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="text-center masthead" id="header" style="background-image: url(&quot;assets/img/reflection.png&quot;);margin-bottom: 0px;">
            <div class="container">
                <div class="overlay"></div>
                <div class="row" style="padding-top: 175px;">
                    <div class="col-lg-8 text-center m-auto">
                        <div id="welcome" style="width: 100%;"></div>
                        <div class="row" id="userpic"><img class="d-none d-xl-flex" data-bs-hover-animate="tada" src="assets/img/funky.gif" style="width: 170px;margin-left: 275px;"></div>
                        <div class="row text-center" id="welcome_bar">
                            <div id="welcome_msg_div" style="width: auto;margin-left: 138px;">
                                <p id="welcome_msg" style="font-family: Minecrafter;font-weight: 300;font-size: 40px;color: rgb(255,255,255);margin-top: 0px;margin-bottom: 0px;height: 100%;letter-spacing: 2px;"><br><strong>Welcome,&nbsp;</strong><br><br></p>
                            </div>
                            <div class="float-right" id="username_bar">
                                <p class="float-right" data-bs-hover-animate="rubberBand" id="username" style="font-family: Minecrafter;font-weight: 300;font-size: 40px;color: rgb(118,255,0);margin-top: 0px;margin-bottom: 0px;height: 100%;letter-spacing: 2px;"><br><strong>{{{username}}}</strong><br><br></p>
                            </div>
                            <div></div>
                        </div>
                        <div id="logged_in_bar1">
                            <p id="logged_in_msg1" class="intro-text" style="font-family: Minecraft;color: rgb(118,255,0);font-size: 20px;line-height: 30px;">You're logged in!<br></p>
                        </div>
                        <div id="logged_in_bar2">
                            <p id="logged_in_msg2" class="intro-text" style="font-family: Minecraft;color: rgb(230,230,230);font-size: 20px;line-height: 30px;">Feel free to check out your profile or search for other people's designs and rate them !</p>
                        </div>
                        <div class="search-container" style="width: 100%;"><input class="border-dark search-input" type="text" id="search_input" name="search-bar" placeholder="Search for other players' submissions" style="font-family: Minecraft;font-size: 20px;background-color: rgba(0,0,0,0.5);color: rgb(255,255,255);">
                            <button
                                class="btn btn-dark search-btn" type="button"> <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="bs-init.js"></script>
    <script src="clean-blog.js"></script>
    <script src="current-day.js"></script>
</body>

</html>